<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="login-panel panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title">Resend confirmation instructions</h3>
      </div>

      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>
          <fieldset>
            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control"%>
            </div>

            <div class="actions">
              <%= f.submit "Resend confirmation instructions", class: "right btn btn-success" %>
            </div>
          </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>
