<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="login-panel panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title">Edit <%= resource_name.to_s.humanize %></h3>
      </div>
      <div class="panel-body">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <fieldset>

            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :name %><br />
              <%= f.input_field :name, autofocus: true, class: 'form-control' %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-group">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
            </div>

            <div class="actions">
              <%= f.submit "Update", class: 'right btn btn-success' %>
            </div>
          </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="login-panel panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title">Cancel my account</h3>
      </div>
      <div class="panel-body">
        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-block btn-danger' %></p>
      </div>
    </div>
  </div>
</div>
