<div class="row">
  <div class="col-md-8 col-md-offset-2"><br/><br/>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Manage Users</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Confirmed?</th>
                <th>Projects</th>
                <th>Roles</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |u| %>
                <tr>
                  <td><%= link_to u.name, edit_user_path(u) %></td>
                  <td><%= link_to u.email, edit_user_path(u) %></td>
                  <td><%= u.confirmed? %></td>
                  <td><% u.projects.each do |p| %><span class="badge"><%= p.name %></span> <% end %></td>
                  <td><% u.roles.each do |r| %><span class="badge"><%= r.name %></span> <% end %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>